<div class="container">
<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div>
   <%= form.label 'Choose Language Category' %>

   <%= form.radio_button :category_id, 1, class: "radio_btn", id: 'spanish' %>
   <%= form.label 'Spanish', for: 'spanish' %>

   <%= form.radio_button :category_id, 2, class: "radio_btn", id: 'english' %>
   <%= form.label 'English', for: 'english' %>

   <%= form.radio_button :category_id, 3, class: "radio_btn", id: 'korean' %>
   <%= form.label 'Korean', for: 'korean' %>

   <%= form.radio_button :category_id, 4, class: "radio_btn", id: 'chinese' %>
   <%= form.label 'Chinese', for: 'chinese' %>
  </div>

  <div class="field form-group">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-outline-secondary'%>
  </div>
<% end %>
</div>
