<p id="notice"><%= notice %></p>

<h1 class="text-center title-wrapper">
  <%= @blog.title %>
</h1>
<% if @blog.category %>
<h5 class="text-center title-wrapper">
  <%= link_to @blog.category.category_name, "/categories/#{@blog.category_id}", class: "btn btn-outline-secondary" %>
</h5>
<% end %>
<div class="container blog-content-wrapper">
  <%= @blog.content %>
  <%= link_to 'Edit', edit_blog_path(@blog), class:"btn btn-outline-secondary"  %> |
  <%= link_to 'Back', blogs_path, class:"btn btn-outline-secondary"  %>
</div>
