<div class="title-wrapper">
  <h1 class="text-center">Blogs</h1>
</div>
<div class="card-group blog-table-wrapper">
 <div class="container">


  <%= form_with(scope: :search, url: "/blogs/users", method: :get, local: true) do |f| %>
    <p>
      <div class="row">
        <%= text_field_tag :search, params[:search], class:"form-control col-4 right", placeholder:"Search Blog" %>
        <%= submit_tag "Search", :name => nil, :class => "btn btn-outline-secondary blog-btn" %>
      </div>
    </p>
  <% end %>

       <%= will_paginate @blogs %>

  <div class="row">
    <% @blogs.each do |blog| %>
     <div class="col-md-4 col-lg-4 one-row">
        <div class="card h-100">
          <a href="/blogs/<%= blog.id %>">
            <div class="row-height">
            <%= image_tag blog.image.to_s, class:"card-img-top" %>
            </div>
          </a>
          <div class="card-body">
            <h5 class="card-title"><%= blog.title %></h5>
            <div class='time-t'>
              <p class="card-text time"><small class="text-muted">Last updated: <%= blog.updated_at.year %>-<%= blog.updated_at.month %>-<%= blog.updated_at.day %></small></p>
            </div>
          </div>
        </div>
      </div>

      <% end %>
   </div>
  </div>
</div>
