<div class="title-wrapper">
  <h2 class="text-center">アカウント設定</h2>
</div>

<div class="container my-page-wrapper">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :name, "ユーザーネーム" %><br />
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="row">

        <div class="field form-group col-6">
          <%= f.label :create_new_password, "パスワード再設定"%> <i>(変更がない場合は空欄のまま)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control"  %>
        </div>

        <div class="field form-group col-6">
          <%= f.label :password_confirmation, "新パスワード再入力" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"  %>
        </div>
    </div>

    <div class="actions">
      <%= f.submit "更新" ,class:"btn btn-outline-secondary" %>
    </div>
  <% end %>

  <% if current_user.payment == true %>
  <%= link_to "Cancel Subscription", "/unsubscribe", data: { confirm: "Are you sure?" }, method: :post  %>
  <% end %>
  <div class="text-right">
  <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal1">
  アカウントを削除する
  </button>
  </div>
  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><%= button_to "Delete my account forever", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-danger" %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</br>


  <%= link_to "ダッシュボードに戻る", :back %>

</div>
