<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="title-wrapper">
    <h1 class="text-center"><%= @group.name %></h1>
  </div>


  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Language</th>
        <th>Content</th>
        <th>Order</th>
      </tr>
    </thead>
    <tbody>
      <% @group.quizzes.each do |quiz| %>
        <tr>
          <td><%= quiz.id %></td>
          <td><%= quiz.category.category_name %></td>
          <td><%= link_to quiz.content, edit_quiz_path(quiz) %></td>
          <td><%= quiz.order %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Edit', edit_group_path(@group), class:"btn btn-outline-secondary" %> |
  <%= link_to 'Back', groups_path, class:"btn btn-outline-secondary" %>
</div>
