<p id="notice"><%= notice %></p>

<p>
  <strong>Quiz:</strong>
  <%= @option.quiz_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @option.content %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
