<div class="title-wrapper">
  <h1 class="text-center">User Info</h1>
</div>

<div class="container">
  <%= form_with url: "/update/#{@user.id}" do |form| %>
  <p>
    <%= form.label :emaiil %>
    <%= form.text_field :email, value:@user.email, class:"form-control"  %>
  </p>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name, value:@user.name, class:"form-control"  %>
  </p>
    <%= form.submit class:"btn btn-outline-secondary" %>
  <% end %>
    <div class="oth-info">
      <h3 class="text-center">Other Information</h3>
      <p>Login times: <%= @user.sign_in_count %></p>
      <p>Registration Date: <%= @user.created_at %></p>
      <p>Last Login: <%= @user.current_sign_in_at %></p>
      <p>Admin: <%= @user.admin %></p>
      <p>Subscription: <%= @user.payment %></p>
      <p>Stripe ID: <%= @user.stripe_id%></p>
      <p>Subscription ID: <%= @user.subscription_id%></p>
      <p>Purchase Date: <% if @user.purchate_date != nil %>
            <%= Time.at("#{@user.purchate_date}".to_i).to_datetime.strftime('%y-%m-%d') %>
          <% else %>
            N/A
          <% end %>
      </p>
      <p>Cancel Date: <% if @user.cancel_date != nil %>
              <%= Time.at("#{@user.cancel_date}".to_i).to_datetime.strftime('%y-%m-%d') %>
            <% else %>
              N/A
          <% end %></p>
    </div>
</div>
