<div class="title-wrapper">
  <h1 class="text-center">User Info</h1>
</div>

<div class="container">
  <%= form_with url: "/update/#{@user.id}" do |form| %>
  <p>
    <%= form.label :emaiil %>
    <%= form.text_field :email, value:@user.email, class:"form-control"  %>
  </p>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name, value:@user.name, class:"form-control"  %>
  </p>
  <p>Admin?
    <%= form.label :admin, 'Yes'%>
    <%= form.radio_button :admin, true, {:checked => @user.admin}  %>
    <%= form.label :admin, 'No'%>
    <%= form.radio_button :admin, false %>
  </p>
    <%= form.submit class:"btn btn-outline-secondary" %>
  <% end %>
    <div class="oth-info">
      <h3 class="text-center">Other Information</h3>
      <p>Login times: <%= @user.sign_in_count %></p>

      <p>Registration Date:<% if @user.created_at != nil %>
         <%= @user.created_at.in_time_zone('Pacific Time (US & Canada)') %> <% else %> N/A <% end %>
      </p>

      <p>Autehntication Email Sent at:
        <% if @user.confirmation_sent_at != nil %>
        <%= @user.confirmation_sent_at.in_time_zone('Pacific Time (US & Canada)') %><% else %> N/A <% end %>
      </p>

      <p>Email Comfirmation Date: <% if @user.confirmed_at != nil %>
        <%= @user.confirmed_at.in_time_zone('Pacific Time (US & Canada)') %><% else %> N/A <% end %>
      </p>
      <p>Last Login: <% if @user.last_sign_in_at != nil %>
        <%= @user.last_sign_in_at.in_time_zone('Pacific Time (US & Canada)') %><% else %> N/A <% end %>
      </p>
      <p>Current Login: <% if @user.current_sign_in_at != nil %>
        <%= @user.current_sign_in_at.in_time_zone('Tokyo') %><% else %> N/A <% end %>
      </p>

      <p>Admin: <%= @user.admin %></p>
      <p>Subscription: <%= @user.payment %></p>
      <p>Stripe ID: <%= @user.stripe_id%></p>
      <p>Subscription ID: <%= @user.subscription_id%></p>
      <p>Purchase Date: <% if @user.purchase_date != nil %>
            <%= Time.at("#{@user.purchase_date}".to_i).to_datetime.strftime('%y-%m-%d') %>
          <% else %>
            N/A
          <% end %>
      </p>
      <p>Cancel Date: <% if @user.cancel_date != nil %>
              <%= Time.at("#{@user.cancel_date}".to_i).to_datetime.strftime('%y-%m-%d') %>
            <% else %>
              N/A
          <% end %></p>
    </div>
</div>
