<div class="title-wrapper">
  <h1 class="text-center">User Info</h1>
</div>

<div class="container">
  <%= form_with url: "/update/#{@user.id}" do |form| %>
  <p>
    <%= form.label :emaiil %>
    <%= form.text_field :email, value:@user.email, class:"form-control"  %>
  </p>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name, value:@user.name, class:"form-control"  %>
  </p>
    <%= form.submit class:"btn btn-outline-secondary" %>
  <% end %>
</div>
