<p id="notice"><%= notice %></p>
<% if flash[:answer_message] %>
<div class="alert alert-success"><%= flash[:answer_message] %>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
<% end %>
<div class="container">

  <div class="title-wrapper">
    <h1 class="text-center">
      Let's Learn <%= @category.category_name %>
    </h1>
  </div>

<!-- Documents -->
<div class="title-wrapper">
  <h2 class="text-center">Documents</h2>
</div>
  <%= will_paginate @documents%>
<div class="row">
  <% @documents.each do |document| %>
   <div class="col-md-4 col-lg-4 one-row">
      <div class="card h-100">
        <a href="/documents/<%= document.id %>">
          <div class="row-height">
          <%= image_tag document.cover_image.to_s, class:"card-img-top" %>
          </div>
        </a>
        <div class="card-body">
          <h5 class="card-title"><%= document.name %></h5>
        </div>
      </div>
    </div>
    <% end %>
</div>

  <!-- interviews -->
  <div class="title-wrapper">
  <h2 class="text-center">関連トップインタビュー</h2>
  </div>
    <div class="row">
      <% @interviews.each do |interview| %>
       <div class="col-md-4 col-lg-4 one-row">
          <div class="card h-100">
            <a href="/interviews/<%= interview.id %>">
              <div class="row-height">
              <%= image_tag interview.image.to_s, class:"card-img-top" %>
              </div>
            </a>
            <div class="card-body">
              <h5 class="card-title"><%= interview.title %></h5>
            </div>
          </div>
        </div>
        <% end %>
    </div>
    <div class="btn-wrapper text-right">
      <%= link_to "インタービュー一覧", interviews_path, class:"btn btn-outline-secondary" %>
    </div>

<div class="lectures-wrapper">
  <% if user_signed_in? %>

    <div class="title-wrapper">
      <h2 class="text-center"> Video Lectures</h2>
    </div>
    <% @videos.each do |video| %>
    <div class="card learning-unit">
      <a href="/videos/<%= video.id%>">
    <div class="card-body">
      <%= video.title %>
    </div>
      </a>
  </div>
    </br>
    <% end %>

  <% else %>
  <% end %>
  <% if user_signed_in? && current_user.admin == true %>
  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %>
  <% end %>
</div>


</div>
