<p id="notice"><%= notice %></p>
<div class="container">

  <div class="title-wrapper">
    <h1 class="text-center">
      Let's Learn <%= @category.category_name %>
    </h1>
  </div>
  <h2 class="text-center">Blogs</h2>
    <%= will_paginate @blogs%>
  <div class="row">
    <% @blogs.each do |blog| %>
     <div class="col-md-4 col-lg-4 one-row">
        <div class="card h-100">
          <a href="/blogs/<%= blog.id %>">
            <div class="row-height">
            <%= image_tag blog.image.to_s, class:"card-img-top" %>
            </div>
          </a>
          <div class="card-body">
            <h5 class="card-title"><%= blog.title %></h5>
            <div class='time-t'>
              <p class="card-text time"><small class="text-muted">Last updated: <%= blog.updated_at.year %>-<%= blog.updated_at.month %>-<%= blog.updated_at.day %></small></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  </div>


<% if user_signed_in? %>
  <div class="title-wrapper">
    <h2 class="text-center">Learning Units</h2>
  </div>
  <div class="blog-table-wrapper text-center">
  <% @groups.each do |group| %>
  <p>
    <%= link_to "#{group.name} Word Quiz", "/quiz/#{@category.id}/#{group.id}/1", class:"btn btn-outline-secondary" %>
    <%= link_to "#{group.name} Lectures", "/lectures/#{@category.id}/#{group.id}", class:"btn btn-outline-secondary" %>
  </p>
  <% end %>
  </div>
<% else %>
<div class="title-wrapper">
  <h2 class="text-center">Signup for free</h2>
  </div>
  <div class="text-center category-btn ">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal">
      Signup
    </button>
</div>
<% end %>
<% if user_signed_in? && current_user.admin == true %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
<% end %>

</div>
