<!DOCTYPE html>
<html>
  <head>
    <title>LanguageApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <% if !user_signed_in? %>
    <%= link_to "Signin", new_user_session_path %>
    <%= link_to 'Signin with Google', user_google_oauth2_omniauth_authorize_path %>
    <%= link_to "Signup", new_user_registration_path %>
    <% else %>
    <%= link_to "Signout", destroy_user_session_path, method: :delete %>
    Signed in as: <%= link_to current_user.email, edit_user_registration_path(current_user) %>
    <% if current_user.name %>
    <%= current_user.name %>
    <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
